.header {
    padding: 30px 20px 10px 30px;
    color: #646464;
    font-size: 15px;
}

.header a {
    color: #646464;
    margin-left: 30px;
}

.header .top {
    width: 100%;
    margin-bottom: 5px;
}

.header .bottom {
    width: 130px;
}

.main {
    color: #686868;
    padding-bottom: 94px;
}

.main .title {
    padding: 5px 0 5px 30px;
    height: 30px;
    background: url("../images/border.png") no-repeat 0 5px;
    background-color: #e7f3f3;
    color: #333436;
    font-size: 18px;
    line-height: 30px;
    /*margin-bottom: 30px;*/
}

.main .content {
    padding: 0 0 50px 30px;
    width: 750px;
}

.main .content .left, .main .content .right {
    width: 50%;
}


button {
    position: relative;
    text-align: center;
    width: 150px;
    height: 44px;
    border: medium none;
    border-radius: 2px;
    background: #00A3D9 none repeat scroll 0% 0%;
    font-size: 16px;
    color: #FFF;
    cursor: pointer;
    align-content: center;
    margin-left: 30px;
    margin-right: 30px;
}

.main a {
    display: inline-block;
    width: 108px;
    height: 17px;
    background: #eeeeee;
    color: #646464;
    padding: 4px 0 4px 7px;
    font-size: 17px;
    line-height: 17px;
}

.main i {
    display: inline-block;
    width: 25px;
    height: 23px;
    background: url("../images/option.jpg") no-repeat 8px 8px;
}

.main label {
    font-size: 17px;
}

.main input {
    color: #686868;
    border: 1px solid #cccccc;
    width: 140px;
    height: 15px;
    padding: 7px 0 6px 10px;
    outline: none;
}

.main .content div {
    margin-bottom: 30px;
}

.main .content div.label {
    height: 30px;
    line-height: 30px;
}

.main .content div.label label {
    display: inline-block;
    height: 30px;
    line-height: 30px;
}

.main .content div.none {
    opacity: 0;
}

.main .content div.address {
    margin-top: -30px;
}

.main .content div.address input {
    width: 410px;
}

.main .content div .option {
    position: relative;
    display: inline-block;
    margin-bottom: -8px;
    width: 144px;
    height: 24px;
    border: 1px solid #cccccc;
    padding: 2px;
}

.main .content div .option ul {
    display: none;
    position: absolute;
    top: 29px;
    left: -1px;
    width: 150px;
    background: #d7e3e3;
    font-size: 17px;
    color: #333333;
    z-index: 999;
}

.main .content div .option ul li {
    padding: 0 0 0 10px;
}

.main .content div .option ul li:hover {
    background: #0e8384;
}

.text {
    position: relative;
    width: 650px;
    height: 500px;
    margin-left: 30px;
    font-size: 16px;
}

@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Microsoft Yahei";
    font-size: 14px;
    color: #333;
    background-color: #E4E1E1;
}

a, a:hover {
    text-decoration: none;
    color: #333;
}

ul, li {
    list-style: none;
}

svg {
    fill: currentColor;
}

.mt-tabpage {
    width: 700px;
    margin: 50px auto;
    box-shadow: 0 0 5px #999;
    background-color: #FFFFFF;
}

.mt-tabpage-title {
    height: 44px;
    font-size: 0;
    background-color: #fff;
    width: 94%;
    margin: auto;
    background: #fff;
    border-bottom: 1px solid #f1f1f1;
}

.anoucebutton{
	background-color: #FFFFFF;
	color: black;
	width: 60px;
}


.mt-tabpage-button {
    display: inline-block;
    position: relative;
    margin-left: 430px;
    margin-right: 10px;
    top: -45px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    color: #666;
    font-size: 14px;
}

.button {
    margin-left: 20px;
}

.mt-tabpage-title .mt-tabpage-item {
    display: inline-block;
    width: 105px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    color: #666;
    font-size: 12px;
}

.mt-tabpage-title .mt-tabpage-item:hover {
    color: #eb4537;
}

.mt-tabpage-title .mt-tabpage-item-cur {
    color: #eb4537;
    font-size: 14px;
    border-bottom: 1px solid #F85B5E;
}

.mt-tabpage-count {
    position: relative;
    width: 800px;
    height: 200px;
    overflow: hidden;
}

.mt-tabpage-cont__wrap {
    position: absolute;
}

.mt-tabpage-count .mt-tabpage-item {
    width: 800px;
    height: 200px;
    line-height: 200px;
    text-align: center;
}