<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.software.dao.SaleorderItemMapper">
  <resultMap id="BaseResultMap" type="com.software.domain.SaleorderItem">
    <id column="viceID" jdbcType="INTEGER" property="viceid" />
    <result column="ID" jdbcType="INTEGER" property="id" />
    <result column="itemID" jdbcType="INTEGER" property="itemid" />
    <result column="itemName" jdbcType="VARCHAR" property="itemname" />
    <result column="itemNum" jdbcType="INTEGER" property="itemnum" />
    <result column="perPrice" jdbcType="REAL" property="perprice" />
    <result column="sumPrice" jdbcType="REAL" property="sumprice" />
    <result column="priceType" jdbcType="VARCHAR" property="pricetype" />
  </resultMap>
  <sql id="Base_Column_List">
    viceID, ID, itemID, itemName, itemNum, perPrice, sumPrice, priceType
  </sql>
    <update id="createNewTable" parameterType="String">  
       CREATE TABLE ${tablename} (
		  `ID` int(11) NOT NULL COMMENT '记录订单ID',
		  `viceID` int(11) NOT NULL AUTO_INCREMENT COMMENT '副ID，记录物品',
		  `itemID` int(11) NOT NULL COMMENT '物品ID',
		  `itemName` varchar(45) NOT NULL,
		  `itemNum` int(11) NOT NULL COMMENT '物品数量',
		  `perPrice` float NOT NULL COMMENT '物品每一个价格',
		  `sumPrice` float NOT NULL COMMENT '价格类型',
		  `priceType` varchar(45) NOT NULL COMMENT '价格类型',
		  PRIMARY KEY (`viceID`)
		) ENGINE=InnoDB DEFAULT CHARSET=utf8 COMMENT='记录订单里面的商品信息';
  </update> 
  <delete id="dropTable" parameterType="String">
   		drop table ${tablename}
   </delete>
  <select id="selectByPrimaryKey" parameterType="com.software.domain.SaleorderItem" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ${tablename}
    where viceID = #{viceid,jdbcType=INTEGER}
  </select>
    <select id="select" parameterType="com.software.domain.SaleorderItem" resultMap="BaseResultMap">
		select *
		from ${tablename}
		<where>
			<if test="id!=null and id!=''">
				and ID = #{id}
			</if>
			<if test="viceid!=null and viceid!=''">
				and viceID = #{viceid}
			</if>
			<if test="itemid!=null and itemid!=''">
				and itemID = #{itemid}
			</if>
			<if test="itemname!=null and itemname!=''">
				and itemName = #{itemname}
			</if>
		</where>
	</select>
  <delete id="deleteByPrimaryKey" parameterType="com.software.domain.SaleorderItem">
    delete from ${tablename}
    where viceID = #{viceid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByID" parameterType="com.software.domain.SaleorderItem">
    delete from ${tablename}
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.software.domain.SaleorderItem">
    insert into ${tablename} (viceID, ID, itemID, 
      itemName, itemNum, perPrice, 
      sumPrice, priceType)
    values (#{viceid,jdbcType=INTEGER}, #{id,jdbcType=INTEGER}, #{itemid,jdbcType=INTEGER}, 
      #{itemname,jdbcType=VARCHAR}, #{itemnum,jdbcType=INTEGER}, #{perprice,jdbcType=REAL}, 
      #{sumprice,jdbcType=REAL}, #{pricetype,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.software.domain.SaleorderItem">
    insert into ${tablename}
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="viceid != null">
        viceID,
      </if>
      <if test="id != null">
        ID,
      </if>
      <if test="itemid != null">
        itemID,
      </if>
      <if test="itemname != null">
        itemName,
      </if>
      <if test="itemnum != null">
        itemNum,
      </if>
      <if test="perprice != null">
        perPrice,
      </if>
      <if test="sumprice != null">
        sumPrice,
      </if>
      <if test="pricetype != null">
        priceType,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="viceid != null">
        #{viceid,jdbcType=INTEGER},
      </if>
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="itemid != null">
        #{itemid,jdbcType=INTEGER},
      </if>
      <if test="itemname != null">
        #{itemname,jdbcType=VARCHAR},
      </if>
      <if test="itemnum != null">
        #{itemnum,jdbcType=INTEGER},
      </if>
      <if test="perprice != null">
        #{perprice,jdbcType=REAL},
      </if>
      <if test="sumprice != null">
        #{sumprice,jdbcType=REAL},
      </if>
      <if test="pricetype != null">
        #{pricetype,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.software.domain.SaleorderItem">
    update ${tablename}
    <set>
      <if test="id != null">
        ID = #{id,jdbcType=INTEGER},
      </if>
      <if test="itemid != null">
        itemID = #{itemid,jdbcType=INTEGER},
      </if>
      <if test="itemname != null">
        itemName = #{itemname,jdbcType=VARCHAR},
      </if>
      <if test="itemnum != null">
        itemNum = #{itemnum,jdbcType=INTEGER},
      </if>
      <if test="perprice != null">
        perPrice = #{perprice,jdbcType=REAL},
      </if>
      <if test="sumprice != null">
        sumPrice = #{sumprice,jdbcType=REAL},
      </if>
      <if test="pricetype != null">
        priceType = #{pricetype,jdbcType=VARCHAR},
      </if>
    </set>
    where viceID = #{viceid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.software.domain.SaleorderItem">
    update ${tablename}
    set ID = #{id,jdbcType=INTEGER},
      itemID = #{itemid,jdbcType=INTEGER},
      itemName = #{itemname,jdbcType=VARCHAR},
      itemNum = #{itemnum,jdbcType=INTEGER},
      perPrice = #{perprice,jdbcType=REAL},
      sumPrice = #{sumprice,jdbcType=REAL},
      priceType = #{pricetype,jdbcType=VARCHAR}
    where viceID = #{viceid,jdbcType=INTEGER}
  </update>
</mapper>