<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.software.dao.SubBranchDetailMapMapper">
  <resultMap id="BaseResultMap" type="com.software.domain.SubBranchDetailMap">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="warehourseID" jdbcType="INTEGER" property="warehourseid" />
    <result column="warehourseName" jdbcType="VARCHAR" property="warehoursename" />
    <result column="warehourseLocation" jdbcType="VARCHAR" property="warehourselocation" />
    <result column="principalID" jdbcType="VARCHAR" property="principalid" />
    <result column="principalName" jdbcType="VARCHAR" property="principalname" />
    <result column="itemTable" jdbcType="VARCHAR" property="itemtable" />
    <result column="saleOrderItemTable" jdbcType="VARCHAR" property="saleorderitemtable" />
    <result column="saleOrderCommonTable" jdbcType="VARCHAR" property="saleordercommontable" />
    <result column="staffTable" jdbcType="VARCHAR" property="stafftable" />
    <result column="warehourseDetailTable" jdbcType="VARCHAR" property="warehoursedetailtable" />
    <result column="time" jdbcType="VARCHAR" property="time" />
    <result column="label" jdbcType="VARCHAR" property="label" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, warehourseID, warehourseName, warehourseLocation, principalID, principalName, 
    itemTable, saleOrderItemTable, saleOrderCommonTable, staffTable, warehourseDetailTable, 
    time, label
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.software.domain.SubBranchDetailMap" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sub_branch_detail_map
    where ID = #{id,jdbcType=INTEGER}
  </select>
   <select id="select" parameterType="com.software.domain.SubBranchDetailMap" resultMap="BaseResultMap">
		select *
		from sub_branch_detail_map
		<where>
			<if test="id!=null and id!=''">
				and ID = #{id}
			</if>
			<if test="warehourseid!=null and warehourseid!=''">
				and warehourseID = #{warehourseid}
			</if>
			<if test="warehoursename!=null and warehoursename!=''">
				and warehourseName = #{warehoursename}
			</if>
			<if test="warehourselocation!=null and warehourselocation!=''">
				and warehourseLocation = #{warehourselocation}
			</if>
			<if test="principalid!=null and principalid!=''">
				and principalID = #{principalid}
			</if>
			<if test="principalname!=null and principalname!=''">
				and principalName = #{principalname}
			</if>
			<if test="label!=null and label!=''">
				and label = #{label}
			</if>
		</where>
	</select>
  <delete id="deleteByPrimaryKey" parameterType="com.software.domain.SubBranchDetailMap">
    delete from sub_branch_detail_map
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="delete" parameterType="com.software.domain.SubBranchDetailMap">
    delete from sub_branch_detail_map
    <where>
		<if test="id!=null and id!=''">
			and ID = #{id}
		</if>
		<if test="warehourseid!=null and warehourseid!=''">
			and warehourseID = #{warehourseid}
		</if>
		<if test="warehoursename!=null and warehoursename!=''">
			and warehourseName = #{warehoursename}
		</if>
		<if test="warehourselocation!=null and warehourselocation!=''">
			and warehourseLocation = #{warehourselocation}
		</if>
		<if test="principalid!=null and principalid!=''">
			and principalID = #{principalid}
		</if>
		<if test="principalname!=null and principalname!=''">
			and principalName = #{principalname}
		</if>
		<if test="label!=null and label!=''">
			and label = #{label}
		</if>
	</where>
  </delete>
  <insert id="insert" parameterType="com.software.domain.SubBranchDetailMap">
    insert into sub_branch_detail_map (ID, warehourseID, warehourseName, 
      warehourseLocation, principalID, principalName, 
      itemTable, saleOrderItemTable, saleOrderCommonTable, 
      staffTable, warehourseDetailTable, time, 
      label)
    values (#{id,jdbcType=INTEGER}, #{warehourseid,jdbcType=INTEGER}, #{warehoursename,jdbcType=VARCHAR}, 
      #{warehourselocation,jdbcType=VARCHAR}, #{principalid,jdbcType=VARCHAR}, #{principalname,jdbcType=VARCHAR}, 
      #{itemtable,jdbcType=VARCHAR}, #{saleorderitemtable,jdbcType=VARCHAR}, #{saleordercommontable,jdbcType=VARCHAR}, 
      #{stafftable,jdbcType=VARCHAR}, #{warehoursedetailtable,jdbcType=VARCHAR}, #{time,jdbcType=VARCHAR}, 
      #{label,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.software.domain.SubBranchDetailMap">
    insert into sub_branch_detail_map
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="warehourseid != null">
        warehourseID,
      </if>
      <if test="warehoursename != null">
        warehourseName,
      </if>
      <if test="warehourselocation != null">
        warehourseLocation,
      </if>
      <if test="principalid != null">
        principalID,
      </if>
      <if test="principalname != null">
        principalName,
      </if>
      <if test="itemtable != null">
        itemTable,
      </if>
      <if test="saleorderitemtable != null">
        saleOrderItemTable,
      </if>
      <if test="saleordercommontable != null">
        saleOrderCommonTable,
      </if>
      <if test="stafftable != null">
        staffTable,
      </if>
      <if test="warehoursedetailtable != null">
        warehourseDetailTable,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="label != null">
        label,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="warehourseid != null">
        #{warehourseid,jdbcType=INTEGER},
      </if>
      <if test="warehoursename != null">
        #{warehoursename,jdbcType=VARCHAR},
      </if>
      <if test="warehourselocation != null">
        #{warehourselocation,jdbcType=VARCHAR},
      </if>
      <if test="principalid != null">
        #{principalid,jdbcType=VARCHAR},
      </if>
      <if test="principalname != null">
        #{principalname,jdbcType=VARCHAR},
      </if>
      <if test="itemtable != null">
        #{itemtable,jdbcType=VARCHAR},
      </if>
      <if test="saleorderitemtable != null">
        #{saleorderitemtable,jdbcType=VARCHAR},
      </if>
      <if test="saleordercommontable != null">
        #{saleordercommontable,jdbcType=VARCHAR},
      </if>
      <if test="stafftable != null">
        #{stafftable,jdbcType=VARCHAR},
      </if>
      <if test="warehoursedetailtable != null">
        #{warehoursedetailtable,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=VARCHAR},
      </if>
      <if test="label != null">
        #{label,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.software.domain.SubBranchDetailMap">
    update sub_branch_detail_map
    <set>
      <if test="warehourseid != null">
        warehourseID = #{warehourseid,jdbcType=INTEGER},
      </if>
      <if test="warehoursename != null">
        warehourseName = #{warehoursename,jdbcType=VARCHAR},
      </if>
      <if test="warehourselocation != null">
        warehourseLocation = #{warehourselocation,jdbcType=VARCHAR},
      </if>
      <if test="principalid != null">
        principalID = #{principalid,jdbcType=VARCHAR},
      </if>
      <if test="principalname != null">
        principalName = #{principalname,jdbcType=VARCHAR},
      </if>
      <if test="itemtable != null">
        itemTable = #{itemtable,jdbcType=VARCHAR},
      </if>
      <if test="saleorderitemtable != null">
        saleOrderItemTable = #{saleorderitemtable,jdbcType=VARCHAR},
      </if>
      <if test="saleordercommontable != null">
        saleOrderCommonTable = #{saleordercommontable,jdbcType=VARCHAR},
      </if>
      <if test="stafftable != null">
        staffTable = #{stafftable,jdbcType=VARCHAR},
      </if>
      <if test="warehoursedetailtable != null">
        warehourseDetailTable = #{warehoursedetailtable,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=VARCHAR},
      </if>
      <if test="label != null">
        label = #{label,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByHourseID" parameterType="com.software.domain.SubBranchDetailMap">
    update sub_branch_detail_map
    <set>
      <if test="warehoursename != null">
        warehourseName = #{warehoursename,jdbcType=VARCHAR},
      </if>
      <if test="warehourselocation != null">
        warehourseLocation = #{warehourselocation,jdbcType=VARCHAR},
      </if>
      <if test="principalid != null">
        principalID = #{principalid,jdbcType=VARCHAR},
      </if>
      <if test="principalname != null">
        principalName = #{principalname,jdbcType=VARCHAR},
      </if>
      <if test="itemtable != null">
        itemTable = #{itemtable,jdbcType=VARCHAR},
      </if>
      <if test="saleorderitemtable != null">
        saleOrderItemTable = #{saleorderitemtable,jdbcType=VARCHAR},
      </if>
      <if test="saleordercommontable != null">
        saleOrderCommonTable = #{saleordercommontable,jdbcType=VARCHAR},
      </if>
      <if test="stafftable != null">
        staffTable = #{stafftable,jdbcType=VARCHAR},
      </if>
      <if test="warehoursedetailtable != null">
        warehourseDetailTable = #{warehoursedetailtable,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=VARCHAR},
      </if>
      <if test="label != null">
        label = #{label,jdbcType=VARCHAR},
      </if>
    </set>
    where warehourseID = #{warehourseid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.software.domain.SubBranchDetailMap">
    update sub_branch_detail_map
    set warehourseID = #{warehourseid,jdbcType=INTEGER},
      warehourseName = #{warehoursename,jdbcType=VARCHAR},
      warehourseLocation = #{warehourselocation,jdbcType=VARCHAR},
      principalID = #{principalid,jdbcType=VARCHAR},
      principalName = #{principalname,jdbcType=VARCHAR},
      itemTable = #{itemtable,jdbcType=VARCHAR},
      saleOrderItemTable = #{saleorderitemtable,jdbcType=VARCHAR},
      saleOrderCommonTable = #{saleordercommontable,jdbcType=VARCHAR},
      staffTable = #{stafftable,jdbcType=VARCHAR},
      warehourseDetailTable = #{warehoursedetailtable,jdbcType=VARCHAR},
      time = #{time,jdbcType=VARCHAR},
      label = #{label,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>