<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.software.dao.WarehourseOrderCommonMapper">
  <resultMap id="BaseResultMap" type="com.software.domain.WarehourseOrderCommon">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="sourceID" jdbcType="INTEGER" property="sourceid" />
    <result column="sourceName" jdbcType="VARCHAR" property="sourcename" />
    <result column="targetID" jdbcType="INTEGER" property="targetid" />
    <result column="targetName" jdbcType="VARCHAR" property="targetname" />
    <result column="principalID" jdbcType="VARCHAR" property="principalid" />
    <result column="principalName" jdbcType="VARCHAR" property="principalname" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="sumPrice" jdbcType="REAL" property="sumprice" />
    <result column="createTime" jdbcType="VARCHAR" property="createtime" />
    <result column="checkTime" jdbcType="VARCHAR" property="checktime" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, sourceID, sourceName, targetID, targetName, principalID, principalName, type, 
    sumPrice, createTime, checkTime, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.software.domain.WarehourseOrderCommon" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from warehourse_order_common
    where ID = #{id,jdbcType=INTEGER}
  </select>
    <select id="select" parameterType="com.software.domain.WarehourseOrderCommon" resultMap="BaseResultMap">
		select *
		from warehourse_order_common
		<where>
			<if test="id!=null and id!=''">
				and ID = #{id}
			</if>
			<if test="sourceid!=null and sourceid!=''">
				and sourceID = #{sourceid}
			</if>
			<if test="sourcename!=null and sourcename!=''">
				and sourceName = #{sourcename}
			</if>
			<if test="targetid!=null and targetid!=''">
				and targetID = #{targetid}
			</if>
			<if test="targetname!=null and targetname!=''">
				and targetName = #{targetname}
			</if>
			<if test="principalid!=null and principalid!=''">
				and principalID = #{principalid}
			</if>
			<if test="principalname!=null and principalname!=''">
				and principalName = #{principalname}
			</if>
			<if test="type!=null and type!=''">
				and type = #{type}
			</if>
			<if test="status!=null and status!=''">
				and status = #{status}
			</if>
			<if test="createtime!=null and createtime!=''">
				and createTime = #{createtime}
			</if>
			<if test="checktime!=null and checktime!=''">
				and checkTime = #{checktime}
			</if>
		</where>
	</select>
  <delete id="deleteByPrimaryKey" parameterType="com.software.domain.WarehourseOrderCommon">
    delete from warehourse_order_common
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.software.domain.WarehourseOrderCommon">
    insert into warehourse_order_common (ID, sourceID, sourceName, 
      targetID, targetName, principalID, 
      principalName, type, sumPrice, 
      createTime, checkTime, status
      )
    values (#{id,jdbcType=INTEGER}, #{sourceid,jdbcType=INTEGER}, #{sourcename,jdbcType=VARCHAR}, 
      #{targetid,jdbcType=INTEGER}, #{targetname,jdbcType=VARCHAR}, #{principalid,jdbcType=VARCHAR}, 
      #{principalname,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{sumprice,jdbcType=REAL}, 
      #{createtime,jdbcType=VARCHAR}, #{checktime,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.software.domain.WarehourseOrderCommon">
    insert into warehourse_order_common
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="sourceid != null">
        sourceID,
      </if>
      <if test="sourcename != null">
        sourceName,
      </if>
      <if test="targetid != null">
        targetID,
      </if>
      <if test="targetname != null">
        targetName,
      </if>
      <if test="principalid != null">
        principalID,
      </if>
      <if test="principalname != null">
        principalName,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="sumprice != null">
        sumPrice,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="checktime != null">
        checkTime,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sourceid != null">
        #{sourceid,jdbcType=INTEGER},
      </if>
      <if test="sourcename != null">
        #{sourcename,jdbcType=VARCHAR},
      </if>
      <if test="targetid != null">
        #{targetid,jdbcType=INTEGER},
      </if>
      <if test="targetname != null">
        #{targetname,jdbcType=VARCHAR},
      </if>
      <if test="principalid != null">
        #{principalid,jdbcType=VARCHAR},
      </if>
      <if test="principalname != null">
        #{principalname,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="sumprice != null">
        #{sumprice,jdbcType=REAL},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="checktime != null">
        #{checktime,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.software.domain.WarehourseOrderCommon">
    update warehourse_order_common
    <set>
      <if test="sourceid != null and sourceid!=''">
        sourceID = #{sourceid,jdbcType=INTEGER},
      </if>
      <if test="sourcename != null and sourcename!=''">
        sourceName = #{sourcename,jdbcType=VARCHAR},
      </if>
      <if test="targetid != null and targetid!=''">
        targetID = #{targetid,jdbcType=INTEGER},
      </if>
      <if test="targetname != null and targetname!=''">
        targetName = #{targetname,jdbcType=VARCHAR},
      </if>
      <if test="principalid != null and principalid!=''">
        principalID = #{principalid,jdbcType=VARCHAR},
      </if>
      <if test="principalname != null and principalname!=''">
        principalName = #{principalname,jdbcType=VARCHAR},
      </if>
      <if test="type != null and type!=''">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="sumprice != null and sumprice!=''">
        sumPrice = #{sumprice,jdbcType=REAL},
      </if>
      <if test="createtime != null and createtime!=''">
        createTime = #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="checktime != null and checktime!=''">
        checkTime = #{checktime,jdbcType=VARCHAR},
      </if>
      <if test="status != null and status!=''">
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.software.domain.WarehourseOrderCommon">
    update warehourse_order_common
    set sourceID = #{sourceid,jdbcType=INTEGER},
      sourceName = #{sourcename,jdbcType=VARCHAR},
      targetID = #{targetid,jdbcType=INTEGER},
      targetName = #{targetname,jdbcType=VARCHAR},
      principalID = #{principalid,jdbcType=VARCHAR},
      principalName = #{principalname,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      sumPrice = #{sumprice,jdbcType=REAL},
      createTime = #{createtime,jdbcType=VARCHAR},
      checkTime = #{checktime,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>